<div class="row justify-content-md-center">
    <div class="col col-xs-4 col-lg-8">
      <div class="card mb-2 shadow">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col">
              <div style="text-align: center;">
                <% if @user.avatar.present? %>
                  <%= image_tag(@user.avatar.variant(resize_to_fill: [120, 120]), class: "avatar-profile-style") %>
                <% else %>
                  <%= link_to image_tag("default_avatar.jpeg", size: "120x120", class: "avatar-profile-style"), root_path %>
                <% end %>
              </div>
            </div>
          </div>
          <h5 class="card-title text-center"><%= @user.username %></h5>
          <p class="fw-light"><b>Email:</b> <%= @user.email %></p>
          <p class="fw-light"><b>Пол:</b> <%= @user.gender.present? ? @user.gender : "Не указан" %></p>
          <p class="fw-light"><b>Дата рождения:</b> <%= @user.birthday.present? ? @user.birthday : "Не указана" %></p>
          <p class="fw-light"><b>Страна:</b> <%= @user.country.present? ? @user.country : "Не указана" %></p>
          <p class="fw-light"><b>Город:</b> <%= @user.city.present? ? @user.city : "Не указан" %></p>
          <p class="fw-light"><b>Зарегистрирован:</b> <%= @user.created_at.strftime("%d.%m.%Y в %H:%M") %></p>
          <% if user_signed_in? %>
            <% if current_user.id == @user.id %>
              <div class="row">
                  <%= button_to "Настройки аккаунта", edit_user_registration_url, class: "btn btn-outline-secondary btn-sm", method: :get %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="card mb-2 shadow">
        <div class="card-body">
          <h5 class="mb-3" style="text-align: center">Публикации <%= @user.username %></h5>
          <ul class="list-group list-group-flush">
          <% @articles.each do |article| %>
            <li class="list-group-item">
              <h5><%= link_to article.title, article_path(article.id), class: "link-dark", style: "text-decoration: none" %></h5>
              <div class="row mb-3">
                <% if user_signed_in? %>
                    <% if article.user_id == current_user.id %>
                    <div class="col">
                        <div class="dropdown">
                            <a class="text-reset" href="#" role="button" id="articleDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none">
                            Изменить
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="articleDropdown">
                                <li><a>
                                    <%= link_to 'Редактировать', edit_article_path, class: "dropdown-item", method: :get %>
                                </a></li>
                                <li><a>
                                    <%= button_to 'Удалить', article_path, class: "dropdown-item text-danger", method: :delete, form: {data: {turbo_confirm: 'Вы действительно хотите удалить статью?'}} %>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    <% end %>
                <% end %>
                  <div class="col">
                      <div style="text-align: end"><%= article.created_at.strftime("%d.%m.%Y в %H:%M") %></div>
                  </div>
              </div>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
</div>