<div class="container">
    <div class="row justify-content-center">
        <div class="col col-xs-4 col-lg-8">
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <%= form_tag search_url, role: 'search', class: "row mb-2", method: :get do %>
                    <div class="col">
                        <%= text_field_tag :request, params[:request], class: "form-control", placeholder: "Введите запрос" %>
                    </div>
                    <div class="col-auto">
                        <%= submit_tag 'Найти', :name => nil, class: "btn btn-success search-button float-end" %>
                    </div>
                    <% end %>
                    <% if @results != nil %>
                    <turbo-frame>
                        <% if @user_results.empty? == false %>
                            <button type="button" data-bs-toggle="collapse" data-bs-target="#user_results" aria-expanded="false" class="profile-button center-content fw-light">
                                Найдено пользователей: <%= @user_results_size %>
                            </button>
                            <div class="collapse" id="user_results">
                                <div class="card card-body">
                                    <% @user_results.each do |user| %>
                                        <div class="row">
                                            <div class="col-auto">
                                                <%= user_search_avatar user %>
                                            </div>
                                            <div class="col">
                                                <h4><%= user_search_link user %></h4>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                        <h5 class="fw-light">Результатов: <%= @results_size %></h5>
                        <ul class="list-group list-group-flush">
                            <% if @results.empty? %>
                                <h5 style="text-align: center;">Увы, таких статей не нашлось :(</h5>
                                <%= image_tag("search_wrong.png", size: "200x200", class: "center-content") %>
                            <% else %>
                                <% @results.each do |result| %>
                                    <%= render 'search_results', result: result %>
                                <% end %>
                            <% end %>
                        </ul>
                    </turbo-frame>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
