<div class="digg_pagination">
    <div class="row justify-content-center mb-3">
        <div class="col-auto">
            <%= will_paginate @articles, inner_window: 1, outer_window: 0 %>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-xs-4 col-lg-8">
            <% add_user_avatar @articles %>
            <% @articles.each do |article| %>
            <div class="card mb-3 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <%= article_user_avatar_index article %>
                        </div>
                        <div class="col">
                            <h5><%= link_to_article article %></h5>
                            <h6 class="card-subtitle mb-2 text-muted">Автор: <%= article_author_link article %></h6>
                        </div>
                    </div>
                    <p class="card-text"><%= article_text_preview article %></p>
                    <div class="row">
                        <div class="col-auto">
                            <%= image_tag("Likes.png", size: "25x25") %>
                        </div>
                        <div class="col-auto">
                            <div class="article-down-font"><%= article.likes.size %></div>
                        </div>
                        <div class="col-auto">
                            <%= article_like_button article %>
                        </div>
                        <div class="col-auto">
                            <%= image_tag("comments.png", size: "25x25", class: "comment") %>
                        </div>
                        <div class="col-auto">
                            <div class="article-down-font"><%= article.comments.size %></div>
                        </div>
                        <div class="col">
                            <div style="text-align: end"><%= article.created_at.strftime("%d.%m.%Y") %></div>
                        </div>
                    </div>  
                </div>
            </div>
            <% end %>
            <div class="digg_pagination">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <%= will_paginate @articles, inner_window: 1, outer_window: 0 %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>