<h3 class="mb-3" style="text-align: center">Лента</h3>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-xs-4 col-lg-8">
            <% @articles.each do |art| %>
            <div class="card mb-3 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-2 col-sm-2 col-lg-1">
                            <% if art.avatar.present? %>
                                <%= image_tag(image_url(art.avatar), style: "width: 50px; height: 50px; object-fit: cover;", class: "articles-avatar") %>
                            <% else %>
                                <%= image_tag(image_url("default_avatar.jpeg"), style: "width: 50px; height: 50px; object-fit: cover;", class: "articles-avatar") %>
                            <% end %>
                        </div>
                        <div class="col col-10 col-sm-10 col-lg-11">
                            <h5><%= link_to art.title, article_path(art.id), class: "link-dark", style: "text-decoration: none" %></h5>
                            <h6 class="card-subtitle mb-2 text-muted">Автор: <%= link_to art.username, profile_path(art.user_id), class: "text-muted", style: "text-decoration: none" %></h6>
                        </div>
                    </div>
                    <p class="card-text"><%= simple_format(truncate(art.text, length: 800, separator: ' ', omission: ' ... ') {link_to "Читать дальше", article_path(art.id)}) %></p>
                    <div class="row">
                        <div class="col">
                            <div style="text-align: end"><%= art.created_at.strftime("%d.%m.%Y в %H:%M") %></div>
                        </div>
                    </div>  
                </div>
            </div>
            <% end %>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <%= will_paginate @articles, class: "pagination" %>

                </ul>
              </nav>
            
        </div>
    </div>
</div>