<h3 class="mb-3" style="text-align: center">Новая статья</h3>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-xs-4 col-lg-8">
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <%= form_for :article, url: articles_path do |f| %>
                    <h5 class="card-title">Заголовок</h5>
                    <%= f.text_field :title, class: "form-control mb-1" %>
                        <% if @article.errors.present? %> 
                            <p class="mb-1" style="color: rgb(253, 127, 127)"><%= @article.errors.messages[:title][0] %></p>
                        <% end %>
                    <p class="fw-lighter mb-1">Длинна заголовка не должна превышать 130 символов</p>
                    <h5 class="card-title">Текст статьи</h5>
                    <%= f.rich_text_area :text, class: "trix-editor mb-2" %>
                        <% if @article.errors.present? %> 
                            <p class="mb-1" style="color: rgb(253, 127, 127)"><%= @article.errors.messages[:text][0] %></p>
                        <% end %>
                    <%= f.button "Опубликовать", type: "submit", class: "btn btn-outline-success btn-sm" %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
