<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-xs-4 col-lg-8">
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <%= article_user_avatar %>
                        </div>
                        <div class="col">
                            <h5 class="card-title"><%= @article.title %></h5>
                            <h6 class="card-subtitle mb-2"><%= article_author_link @article %></h6>
                        </div>
                    </div>
                    <p class="card-text"><%= simple_format(@article.text) %></p> 
                    <div class="row">
                        <div class="col-auto">
                            <%= image_tag("Likes.png", size: "25x25") %>
                        </div>
                        <div class="col-auto">
                            <div class="article-down-font"><%= @article.likes.size %></div>
                        </div>
                        <div class="col-auto">
                            <%= article_like_button @article %>
                        </div>
                        <% if user_signed_in? %>
                            <% if @article.user_id == current_user.id %>
                            <div class="col-auto">
                                <div class="dropdown">
                                    <a class="text-reset" href="#" role="button" id="articleDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none">
                                    Изменить
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="articleDropdown">
                                        <li><a>
                                            <%= article_edit_link %>
                                        </a></li>
                                        <li><a>
                                            <%= article_delete_link %>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                            <% end %>
                        <% end %>
                        <div class="col">
                            <div style="text-align: end"><%= create_show @article %></div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="mb-3">Комментарии <%= @number_of_comments %></h4>
            <% if user_signed_in? %>
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <%= form_for([@article, @article.comments.build]) do |f| %>
                        <%= f.text_area :body, class: "form-control mb-2", placeholder: "Комментарий", resize: "vertical, auto" %>
                        <%= f.button "Отправить", type: "submit", class: "btn btn-outline-success btn-sm" %>
                    <% end %>
                </div>
            </div>
            <% else %>
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <h6 style="text-align: center">Чтобы оставить комментарий необходимо 
                    <%= new_user_session %> или <%= new_user_registration %></h6>
                </div>
            </div>
            <% end %>
            <div class="digg_pagination">
                <div class="row justify-content-center mb-2">
                    <div class="col-auto">
                        <%= will_paginate @comments, inner_window: 1, outer_window: 0 %>
                    </div>
                </div>
            </div>
            <% add_user_avatar @comments %>
            <% @comments.each do |comment| %>
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <%= article_comment_avatar comment %>
                        </div>
                        <div class="col">
                            <h5 class="card-title"><%= comment_author_link comment %></h5>
                            <p class="card-text"><%= comment.body %></p>
                            <div class="row">
                                <% if @child_comments_raw.where(parent: comment.id).exists? %>
                                <div class="col-auto">
                                    <a class="link" style="text-decoration: none" data-bs-toggle="collapse" href="#showAnswer<%= comment.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Показать ответы
                                    </a>
                                </div>
                                <% end %>
                                <div class="col-auto">
                                    <a class="text-reset" style="text-decoration: none" data-bs-toggle="collapse" href="#commentAnswer<%= comment.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Ответить
                                    </a>
                                </div>
                                <% if user_signed_in? %>
                                    <% if comment.user_id == current_user.id %>
                                    <div class="col-auto">
                                        <a><%= delete_comment_button comment %></a>
                                    </div>
                                    <% end %>
                                <% end %>
                                <div class="col">
                                    <div style="text-align: end"><%= create_show comment %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="commentAnswer<%= comment.id %>">
                    <div class="container">
                        <div class="row justify-content-center">
                            <% if user_signed_in? %>
                            <div class="col-auto">
                                <%= current_user_avatar %>
                            </div>
                            <div class="col">
                            <%= form_for([@article, @article.comments.build]) do |f| %>
                                    <%= f.text_area :body, class: "form-control mb-1", placeholder: "Введите ответ", resize: "vertical, auto" %>
                                    <%= f.hidden_field :parent, :value => comment.id %>
                                    <%= f.button "Отправить", type: "submit", class: "btn btn-outline-success btn-sm mb-1" %>
                            <% end %>
                            </div>
                        </div>
                    </div>
                    <% else %>
                        <h6 style="text-align: center">Чтобы ответить на комментарий необходимо 
                        <%= new_user_session %> или <%= new_user_registration %></h6>
                    </div>
                </div>
                    <% end %>
                </div>
                <div class="collapse" id="showAnswer<%= comment.id %>">
                    <div class="container">
                        <% @child_comments = @child_comments_raw.where(parent: comment.id) %>
                        <% add_user_avatar @child_comments %>
                        <ul class="list-group list-group-flush">
                            <% @child_comments.each do |child_comment| %>
                                <li class="list-group-item mb-2">
                                    <div class="row">
                                        <div class="col-auto">
                                            <%= article_comment_avatar child_comment %>
                                        </div>
                                        <div class="col">
                                            <h5 class="card-title"><%= comment_author_link child_comment %></h5>
                                            <p class="card-text mb-2"><%= child_comment.body %></p>
                                            <div class="row">
                                                <% if user_signed_in? %>
                                                    <% if child_comment.user_id == current_user.id %>
                                                    <div class="col-auto">
                                                        <a><%= delete_comment_button child_comment %></a>
                                                    </div>
                                                    <% end %>
                                                <% end %>
                                                <div class="col">
                                                    <div style="text-align: end"><%= create_show child_comment %></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>  
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
            <% end %>
            <div class="digg_pagination">
                <div class="row justify-content-center mb-0">
                    <div class="col-auto">
                        <%= will_paginate @comments, inner_window: 1, outer_window: 0 %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
