<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-xs-4 col-lg-8">
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-2 col-sm-2 col-lg-1">
                            <% if @article_author.avatar.present? %>
                                <%= image_tag(@article_author.avatar.variant(resize_to_fill: [50, 50]), class: "articles-avatar") %>
                            <% else %>
                                <%= image_tag(image_url("default_avatar.jpeg"), size: "50x50", class: "articles-avatar") %>
                            <% end %>
                        </div>
                        <div class="col col-10 col-sm-10 col-lg-11">
                            <h5 class="card-title"><%= @article.title %></h5>
                            <h6 class="card-subtitle mb-2"><%= link_to @article.username, profile_path(@article.user_id), class: "text-muted", style: "text-decoration: none" %></h6>
                        </div>
                    </div>
                    <p class="card-text"><%= simple_format(@article.text) %></p> 
                    <div class="row">
                        <div class="col-auto">
                            <%= image_tag("Likes.png", size: "25x25") %>
                        </div>
                        <div class="col-auto">
                            <div class="like-font"><%= @article.likes.size %></div>
                        </div>
                        <div class="col-auto">
                            <% if user_signed_in? %>
                                <% liked = @article.likes.find {|like| like.user_id == current_user.id} %>
                                <% if liked %>
                                    <%= button_to image_tag("Like.png", size: "25x25"), article_like_path(@article, liked), method: :delete, class: "like-button", form_class: "like-form" %>
                                <% else %>
                                    <%= button_to image_tag("notLike.png", size: "25x25"), article_likes_path(@article), method: :post, class: "like-button", form_class: "like-form" %>
                                <% end %>
                            <% end %>
                        </div>
                    <% if user_signed_in? %>
                        <% if @article.user_id == current_user.id %>
                        <div class="col-auto">
                            <div class="dropdown">
                                <a class="text-reset" href="#" role="button" id="articleDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none">
                                Изменить
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="articleDropdown">
                                    <li><a>
                                        <%= link_to 'Редактировать', edit_article_path, class: "dropdown-item", method: :get %>
                                    </a></li>
                                    <li><a>
                                        <%= button_to 'Удалить', article_path, class: "dropdown-item text-danger", method: :delete, form: {data: {turbo_confirm: 'Вы действительно хотите удалить статью?'}} %>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                        <% end %>
                        <% end %>
                        <div class="col">
                            <div style="text-align: end"><%= @article.created_at.strftime("%d.%m.%Y в %H:%M") %></div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="mb-3">Комментарии <%= @number_of_comments %></h4>
            <% if user_signed_in? %>
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <%= form_for([@article, @article.comments.build]) do |f| %>
                    <h6 class="card-title">Оставить комментарий</h6>
                    <div class="form-floating mb-2">
                        <%= f.text_area :body, class: "form-control", id: "floatingPassword", placeholder: "Комментарий", resize: "vertical, auto" %>
                        <label>Комментарий</label>
                    </div>
                        <%= f.button "Отправить", type: "submit", class: "btn btn-outline-success btn-sm" %>
                    <% end %>
                </div>
            </div>
            <% else %>
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <h6 style="text-align: center">Чтобы оставить комментарий необходимо 
                    <%= link_to 'войти', new_user_session_url, method: :get %> или <%= link_to 'заергистрироваться', new_user_registration_url, method: :get %></h6>
                </div>
            </div>
            <% end %>
            <div class="digg_pagination">
                <div class="row justify-content-center mb-2">
                    <div class="col-auto">
                        <%= will_paginate @comments, inner_window: 1, outer_window: 0 %>
                    </div>
                </div>
            </div>
            <% @comments.each do |comment| %>
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-2 col-sm-2 col-lg-1">
                            <% if comment.username.present? %>
                                <%= image_tag(image_url(comment.username), style: "width: 45px; height: 45px; object-fit: cover;", class: "articles-avatar") %>
                            <% else %>
                                <%= image_tag(image_url("default_avatar.jpeg"), style: "width: 45px; height: 45px; object-fit: cover;", class: "articles-avatar") %>
                            <% end %>
                        </div>
                        <div class="col col-10 col-sm-10 col-lg-11">
                            <h5 class="card-title"><%= link_to comment.author, profile_path(comment.user_id), style: "text-decoration: none; color: black" %></h5>
                            <p class="card-text"><%= comment.body %></p>
                            <div class="row">
                                <% if @child_comments_raw.where(parent: comment.id).exists? %>
                                <div class="col-auto">
                                    <a class="link" style="text-decoration: none" data-bs-toggle="collapse" href="#showAnswer<%= comment.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Показать ответы
                                    </a>
                                </div>
                                <% end %>
                                <div class="col-auto">
                                    <a class="text-reset" style="text-decoration: none" data-bs-toggle="collapse" href="#commentAnswer<%= comment.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Ответить
                                    </a>
                                </div>
                                <% if user_signed_in? %>
                                    <% if comment.user_id == current_user.id %>
                                    <div class="col-auto">
                                        <a><%= button_to 'Удалить', [@article, comment], class: "delete-link", method: :delete, form: {data: {turbo_confirm: 'Вы действительно хотите удалить комментарий?'}} %></a>
                                    </div>
                                    <% end %>
                                <% end %>
                                <div class="col">
                                    <div style="text-align: end"><%= comment.created_at.strftime("%d.%m.%Y в %H:%M") %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="commentAnswer<%= comment.id %>">
                    <div class="container">
                        <div class="row justify-content-center">
                            <% if user_signed_in? %>
                            <div class="col-auto">
                                <% if current_user.avatar.present? %>
                                    <%= image_tag(current_user.avatar.variant(resize_to_fill: [45, 45]), class: "articles-avatar") %>
                                <% else %>
                                    <%= image_tag(image_url("default_avatar.jpeg"), style: "width: 45px; height: 45px; object-fit: cover;", class: "articles-avatar") %>
                                <% end %>
                            </div>
                            <div class="col">
                            <%= form_for([@article, @article.comments.build]) do |f| %>
                                <%= f.text_area :body, class: "form-control mb-1", id: "floatingPassword", placeholder: "Введите ответ", resize: "vertical, auto" %>
                                <%= f.hidden_field :parent, :value => comment.id %>
                                <%= f.button "Отправить", type: "submit", class: "btn btn-outline-success btn-sm mb-1" %>
                            <% end %>
                            </div>
                        </div>
                    </div>
                    <% else %>
                        <h6 style="text-align: center">Чтобы ответить на комментарий необходимо 
                        <%= link_to 'войти', new_user_session_url, method: :get %> или <%= link_to 'заергистрироваться', new_user_registration_url, method: :get %></h6>
                    </div>
                </div>
                    <% end %>
                </div>
                <div class="collapse" id="showAnswer<%= comment.id %>">
                    <div class="container">
                        <% @child_comments = @child_comments_raw.where(parent: comment.id) %>
                        <% child_comments_avatar %>
                        <ul class="list-group list-group-flush">
                            <% @child_comments.each do |child_comment| %>
                                <li class="list-group-item mb-2">
                                    <div class="row">
                                        <div class="col-auto">
                                            <% if child_comment.username.present? %>
                                                <%= image_tag(image_url(child_comment.username), style: "width: 45px; height: 45px; object-fit: cover;", class: "articles-avatar") %>
                                            <% else %>
                                                <%= image_tag(image_url("default_avatar.jpeg"), style: "width: 45px; height: 45px; object-fit: cover;", class: "articles-avatar") %>
                                            <% end %>
                                        </div>
                                        <div class="col">
                                            <h5 class="card-title"><%= link_to child_comment.author, profile_path(child_comment.user_id), style: "text-decoration: none; color: black" %></h5>
                                            <p class="card-text mb-2"><%= child_comment.body %></p>
                                            <div class="row">
                                                <% if user_signed_in? %>
                                                    <% if child_comment.user_id == current_user.id %>
                                                    <div class="col-auto">
                                                        <a><%= button_to 'Удалить', [@article, child_comment], class: "delete-link", method: :delete, form: {data: {turbo_confirm: 'Вы действительно хотите удалить комментарий?'}} %></a>
                                                    </div>
                                                    <% end %>
                                                <% end %>
                                                <div class="col">
                                                    <div style="text-align: end"><%= comment.created_at.strftime("%d.%m.%Y в %H:%M") %></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>  
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
            <% end %>
            <div class="digg_pagination">
                <div class="row justify-content-center mb-0">
                    <div class="col-auto">
                        <%= will_paginate @comments, inner_window: 1, outer_window: 0 %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
