<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-xs-4 col-lg-8">
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <%= article_user_avatar %>
                        </div>
                        <div class="col">
                            <h5 class="card-title"><%= @article.title %></h5>
                            <h6 class="card-subtitle mb-2"><%= article_author_link @article %></h6>
                        </div>
                    </div>
                    <p class="card-text"><%= @article.text %></p> 
                    <turbo-frame id="likes">
                        <%= render 'likes' %>
                    </turbo-frame>
                </div>
            </div>
            <turbo-frame id="comments">
                <h4 class="mb-3">Комментарии <%= @number_of_comments %></h4>
                <% if user_signed_in? %>
                <div class="card mb-2 shadow">
                    <div class="card-body">
                        <%= form_for([@article, @article.comments.build]) do |f| %>
                            <%= f.text_area :body, class: "form-control mb-2", placeholder: "Комментарий", resize: "vertical, auto" %>
                            <%= f.button "Отправить", type: "submit", return: false, class: "btn btn-outline-success btn-sm" %>
                        <% end %>
                    </div>
                </div>
                <% else %>
                <div class="card mb-2 shadow">
                    <div class="card-body">
                        <h6 style="text-align: center">Чтобы оставить комментарий необходимо 
                        <%= new_user_session %> или <%= new_user_registration %></h6>
                    </div>
                </div>
                <% end %>
                <div class="digg_pagination">
                    <div class="row justify-content-center mb-2">
                        <div class="col-auto">
                            <%= will_paginate @comments, inner_window: 1, outer_window: 0 %>
                        </div>
                    </div>
                </div>
                <% add_user_avatar @comments %>
                <% @comments.each do |comment| %>
                    <%= render 'comments', comment: comment %>
                <% end %>
                <div class="digg_pagination">
                    <div class="row justify-content-center mb-0">
                        <div class="col-auto">
                            <%= will_paginate @comments, inner_window: 1, outer_window: 0 %>
                        </div>
                    </div>
                </div>
            </turbo-frame>
        </div>
    </div>
</div>
