<p><%= @article.id %></p>
<p><%= @article.title %></p>
<p><%= @article.text %></p>
<%= link_to 'Изменить', edit_article_path %></br>
<%= link_to 'Список статей', articles_path %></br>
<%= button_to 'Удалить', article_path, method: :delete %>