<div class="container position-relative">
    <div class="position-absolute top-50 start-50 translate-middle-x mb-2">
        <div class="card mb-2" style="width: 42rem;">
            <div class="card-body">
                <h5 class="card-title"><%= @article.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= @article.created_at %></h6>
                <p class="card-text"><%= @article.text %></p>
                <div class="row">
                    <div class="col-2">
                        <%= button_to 'Изменить', edit_article_path, class: "btn btn-outline-secondary", method: :get %>
                    </div>
                    <div class="col-2">
                        <%= button_to 'Удалить', article_path, class: "btn btn-outline-secondary", method: :delete %>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-2" style="width: 42rem;">
            <div class="card-body">
                <%= form_for([@article, @article.comments.build]) do |f| %>
                <div class="mb-2">
                    <%= f.text_field :author, class: "form-control", type: "text", placeholder: "Ваше имя" %>
                </div>
                <div class="form-floating mb-2">
                    <%= f.text_area :body, class: "form-control", id: "floatingPassword", placeholder: "Комментарий" %>
                    <label for="floatingPassword">Комментарий</label>
                </div>
                    <%= f.button "Отправить", type: "submit", class: "btn btn-outline-secondary" %>
                <% end %>
            </div>
        </div>
        <% @comments.reverse_each do |comment| %>
        <div class="card mb-2" style="width: 42rem;">
            <div class="card-body">
                <h5 class="card-title"><%= comment.author %></h5>
                <h6 class="fw-lighter"><%= comment.created_at %></h6>
                <p class="card-text"><%= comment.body %></p>
            </div>
        </div>
        <% end %>
    </div>
</div>
