<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-xs-4 col-lg-8">
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1">
                            <% if @article_author.avatar.present? %>
                                <%= image_tag(@article_author.avatar.variant(resize_to_fill: [50, 50]), class: "articles-avatar") %>
                            <% else %>
                                <%= image_tag(image_url("default_avatar.jpeg"), size: "50x50", class: "articles-avatar") %>
                            <% end %>
                        </div>
                        <div class="col-11">
                            <h5 class="card-title"><%= @article.title %></h5>
                            <h6 class="card-subtitle mb-2"><%= link_to @article.username, profile_path(@article.user_id), class: "text-muted", style: "text-decoration: none" %></h6>
                        </div>
                    </div>
                    <p class="card-text"><%= simple_format(@article.text) %></p> 
                    <div class="row">
                    <% if user_signed_in? %>
                        <% if @article.user_id == current_user.id %>
                        <div class="col">
                            <div class="dropdown">
                                <a class="text-reset" href="#" role="button" id="articleDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none">
                                Изменить
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="articleDropdown">
                                    <li><a>
                                    <%= link_to 'Редактировать', edit_article_path, class: "dropdown-item", method: :get %>
                                    </a></li>
                                    <li><a>
                                        <%= button_to 'Удалить', article_path, class: "dropdown-item text-danger", method: :delete, form: {data: {turbo_confirm: 'Вы действительно хотите удалить статью?'}} %>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                        <% end %>
                    <% end %>
                        <div class="col">
                            <div style="text-align: end"><%= @article.created_at.strftime("%d.%m.%Y в %H:%M") %></div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="mb-3">Комментарии <%= @comments.size %></h4>
            <% if user_signed_in? %>
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <%= form_for([@article, @article.comments.build]) do |f| %>
                    <h6 class="card-title">Оставить комментарий</h6>
                    <div class="form-floating mb-2">
                        <%= f.text_area :body, class: "form-control", id: "floatingPassword", placeholder: "Комментарий" %>
                        <label for="floatingPassword">Комментарий</label>
                    </div>
                        <%= f.button "Отправить", type: "submit", class: "btn btn-outline-success btn-sm" %>
                    <% end %>
                </div>
            </div>
            <% else %>
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <h6 style="text-align: center">Чтобы оставить комментарий необходимо 
                    <%= link_to 'войти', new_user_session_url, method: :get %> или <%= link_to 'заергистрироваться', new_user_registration_url, method: :get %></h6>
                </div>
            </div>
            <% end %>
            <% @comments.reverse_each do |comment| %>
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1">
                            <% if comment.username.present? %>
                                <%= image_tag(image_url(comment.username), style: "width: 45px; height: 45px; object-fit: cover;", class: "articles-avatar") %>
                            <% else %>
                                <%= image_tag(image_url("default_avatar.jpeg"), style: "width: 45px; height: 45px; object-fit: cover;", class: "articles-avatar") %>
                            <% end %>
                        </div>
                        <div class="col-11">
                            <h5 class="card-title"><%= link_to comment.author, profile_path(comment.user_id), style: "text-decoration: none; color: black" %></h5>
                            <p class="card-text"><%= comment.body %></p>
                            <div class="row">
                                <% if user_signed_in? %>
                                    <% if comment.user_id == current_user.id %>
                                    <div class="col-2">
                                        <a><%= button_to 'Удалить', [@article, comment], class: "btn btn-outline-danger btn-sm", method: :delete, form: {data: {turbo_confirm: 'Вы действительно хотите удалить комментарий?'}} %></a>
                                    </div>
                                    <% end %>
                                <% end %>
                                <div class="col">
                                    <div style="text-align: end"><%= comment.created_at.strftime("%d.%m.%Y в %H:%M") %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
